@charset "UTF-8";

$sp: 320px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.l-wrapper{
  background-color: #FFFFFF;
  width: 100%;
	// @include sp {
	// 	width: 100%;
	// }

.l-header {
  width: 100%;
  height: 650px;

  &__keyvisual {
    position: relative;
    width: 100%;
    height: 100%;

    .c-header__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .c-header__subTitle {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__inner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 155px;
  }
}

.l-main{
  height: 3000px;
  background-color: #f8f8f8;
}

.l-footer{
  height: 280px;
  background-color: #ECF4D9;

  &__container{
    width: 460px;
    height: 205px;
    margin: 0 auto;
  }

  &__containerTop{
    width: 260px;
    height: 50px;

    .c-footer__name{
      width: 100%;
    }
  }
}
}