@charset "UTF-8";
.l-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ビューポートの高さと同じに設定 */
  background-color: #FFFFFF;
  width: 100%;
  color: #333333;
}
.l-wrapper a {
  color: #333333;
}
.l-wrapper .l-header {
  width: 100%;
  height: 10%;
}
.l-wrapper .l-header__keyvisual {
  position: relative;
  width: 100%;
  height: 100%;
}
.l-wrapper .l-header__keyvisual .c-header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.3);
}
.l-wrapper .l-header__keyvisual .c-header__img {
  width: 100%;
  height: auto;
}
.l-wrapper .l-header__keyvisual .c-header__subTitle {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 480px) {
  .l-wrapper .l-header__keyvisual .c-header__subTitle {
    font-size: 0.5em;
  }
}
.l-wrapper .l-main {
  height: 85%;
  background-color: #f8f8f8;
}
.l-wrapper .l-main__about {
  height: 40%;
}
.l-wrapper .l-main__class {
  height: 10%;
  background-color: #E0E5E5;
}
.l-wrapper .l-main__workshop {
  height: 10%;
  background-color: #f8f8f8;
}
.l-wrapper .l-main__blog {
  height: 10%;
  background-color: #E0E5E5;
}
.l-wrapper .l-main__booking {
  height: 10%;
  background-color: #f8f8f8;
}
.l-wrapper .l-main__contact {
  height: 10%;
  background-color: #E0E5E5;
}
.l-wrapper .l-main__sns {
  height: 10%;
  background-color: #f8f8f8;
}
.l-wrapper .l-footer {
  height: 5%;
  border-top: 1px solid #e0e0e0;
}
.l-wrapper .l-footer__top {
  height: 10%;
}
.l-wrapper .l-footer__bottom {
  width: 60%;
  height: 90%;
  margin: 0 auto;
  padding: 8% 0;
}
.l-wrapper .l-footer__left {
  width: 35%;
}
.l-wrapper .l-footer__leftTop {
  width: 100%;
}
.l-wrapper .l-footer__leftMiddle {
  width: 100%;
}
.l-wrapper .l-footer__leftBottom {
  width: 75%;
  height: 10%;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .l-wrapper .l-footer__leftBottom {
    width: 100%;
  }
}
.l-wrapper .l-footer__leftBottom .c-footer__copyright {
  font-size: 0.5em;
  letter-spacing: 0.09em;
}
@media screen and (max-width: 480px) {
  .l-wrapper .l-footer__leftBottom .c-footer__copyright {
    font-size: 6px;
  }
}
.l-wrapper .l-footer__right {
  width: 65%;
  height: 35%;
  padding-top: 10%;
}
@media screen and (max-width: 480px) {
  .l-wrapper .l-footer__right {
    height: 50%;
  }
}
.l-wrapper .l-footer__right .p-nav__menu {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .l-wrapper .l-footer__right .p-nav__menu {
    display: block;
  }
}
.l-wrapper .l-footer__right .p-nav__menu .c-nav__menu {
  font-size: 0.75em;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 480px) {
  .l-wrapper .l-footer__right .p-nav__menu .c-nav__menu {
    font-size: 6px;
    line-height: 2em;
    letter-spacing: 0.01em;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */