@charset "UTF-8";

$sp: 320px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.l-wrapper{
  background-color: #FFFFFF;
  width: 100%;
	@include sp {
		width: 100%;
	}
}

.l-header{
	width: 100%;
	height: 700px;

		&__keyvisual{
		position: relative;
		width: 100%;
		height: 670px;
	}
}

.l-main{
    height: 2000px;
    background-color: #f8f8f8;
}

.l-footer{
    height: 200px;
    background-color: #ECF4D9;
}